<?xml version="1.0"?> 
<launch> 
<node pkg="prj-grp-01" type="node_distance_logger" name="node_distance_logger"> 
</node> 
<node pkg="prj-grp-01" type="path_planner_node" name="path_planner_node" output="screen">
</node> 
<node pkg="prj-grp-01" type="node_controller" name="node_controller"> 
</node> 
</launch>
